/*Este es el margen que tiene el body*/
.body{
	text-decoration: none;
	margin: 42px 280px ;
}

 /*Este es el header*/

*{
	padding: 0;
	margin: 0;
}
.portada{
	margin-top: 20px;
	margin-left: 30%;
}
.portada a{
	font-size: 25px;
	text-decoration: none;
	color: #303030;
	font-family: 'Raleway', sans-serif;
}
.nav {
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #A8A8A8;
	margin-top: 25px;
}

.nav ul {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
}

.nav ul	li {
	padding-right: 60px;
	padding-left: 60px;
	display: inline-block;
}
.nav ul li a:hover {
	color: #c2950f;
}

.nav ul li a{
	font-family: 'Raleway', sans-serif;
	color: #303030;
	text-decoration: none;

}
.nav ul li .color {
	color: #c2950f;
}
	/*Este es el header*/
	/*Este va a ser el body*/

.body2 .titulo {
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	color: #646161;
}
.texto {
	margin-top: 25px;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	margin-left: 150px;
	color: #646161;
	margin-bottom: 200px;
}

	
/*Este va a ser el body*/

 /*Este es el footer*/
 .raya2{
	border-top: 3px solid #00000000;
	margin: 10px;
}

.footer{
	position: relative;
	bottom: 5px;
	font-family: 'Asap', sans-serif;
	color: #646161;
	text-align: center;
	margin-bottom: 50px;
}
.footer p {
	display: inline-block;
}

 /*Este es el footer*/