@media screen and (max-width: 1370px){
* {
	margin: 0;
	padding: 0;
}
.portada{
	margin-top: 20px;
	margin-left: 37%;
}
.portada a{
	font-size: 20px;
	text-decoration: none;
	color: #303030;
	font-family: 'Raleway', sans-serif;
}
.nav {
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #A8A8A8;
	margin-top: 25px;
}

.nav ul {
	margin-top: 15px;
	margin-bottom: 15px;
	list-style: none;
}

.nav ul	li {
	padding-right: 60px;
	padding-left: 60px;
	display: inline-block;
}
.nav ul li a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #303030;
}

body {
		margin: 42px 220px ;
	}
.tie {
	background-color: #fff;
	font-size: 25px;
	float: left;
}
.secuno {
	text-decoration: none;
}
.sec1 ul li {
	color: #303030;
	display: flex;
	flex-direction: column;
	float: right;
}
.sec1 ul li p{
	font-family: 'Raleway', sans-serif;
}

.nav .tienda{
	color: #c2950f;
}
.tie {
	color: #303030;
	font-family: 'Raleway', sans-serif;
}
.sec1 img {

}
.sec1 li img {
	margin: 10px 10px 10px 10px;
	width: 250px;
	height: 150px;
	font-size: 100px;	
	
}
.footer{
	margin-top: 25px;
	position: relative;
	bottom: 5px;
	font-family: 'Asap', sans-serif;
	color: #646161;
	text-align: center;
	margin-bottom: 50px;
}
.footer p:first-child {
	margin-top: 60px;
}
.footer p {
		display: inline-block;
}
}

/*Esto es lo de reponsive de tienda para pantallas de portatiles S*/

/*Responsive para pantallas grandes*/

	* {
	margin: 0;
	padding: 0;
}
.portada{
	margin-top: 20px;
	margin-left: 43%;
}
.portada a{
	font-size: 20px;
	text-decoration: none;
	color: #303030;
	font-family: 'Raleway', sans-serif;
}
.nav {
	border-top: 1px solid #A8A8A8;
	border-bottom: 1px solid #A8A8A8;
	margin-top: 25px;
}

.nav ul {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
}

.nav ul	li {
	padding-right: 75px;
	padding-left: 75px;
	display: inline-block;
}
.nav ul li a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #303030;
}

body {
 	background: #fff;
 	margin: 42px 350px 42px 350px;
}
.tie {
	background-color: #fff;
	font-size: 25px;
	float: left;
}
.secuno {
	text-decoration: none;
}
.sec1 ul li {
	color: #303030;
	display: flex;
	flex-direction: column;
	float: right;
}
.sec1 ul li p{
	font-family: 'Raleway', sans-serif;
}

.nav .tienda{
	color: #c2950f;
}
.tie {
	color: #303030;
	font-family: 'Raleway', sans-serif;
}
.sec1 img {

}
.sec1 li img {
	margin: 10px 10px 10px 10px;
	width: 250px;
	height: 150px;
	font-size: 100px;	
	
}
